<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome_style.css') }}">
</head>
<body>
    
    <form action="/login" method="POST">
        <h1>Авторизация</h1>
        <input type="text" name="login" placeholder="Введите логин">
        <input type="password" name="password" placeholder="Введите пароль">
        <button type="submit">sign in</button>
        <h5>{{ error }}</h5>
    </form>
    
</body>
</html>