{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_profile.css') }}">

    <div class="spacer"></div>
    <div class="profile">
        <div class="profile_header">
            <div class="profile_img">
                {% if user_profile_img %}
                <img src="{{ url_for('static', filename='user_images/'+user_profile_img) }}" alt="avatar">
                {% else %}
                <img src="{{ url_for('static', filename='img/default_avatar.jpg') }}" alt="avatar">
                {% endif %}
            </div>
            <form action="/set_avatar" method="POST" enctype="multipart/form-data" style="margin-top: 20px;border: 2px solid black; background: rgba(0, 0, 0, 0.11);">
                <input type="file" name="avatar_img" style="border: none; background: #ffffff;">
                <button type="submit" style="background: white; color: #000000; width: 150px; height: 30px">Прикрепить фото</button>
            </form>

            <div class="profile_title">Имя пользователя</div>
        </div>

        <div class="profile_form">
            <form action="" method="POST">
                <input type="text" name='title' placeholder="Введите название статьи: (до 70 символов)" maxlength="70">
                <textarea type="text" name='body' placeholder="Введите описание:"></textarea>

                <button type="submit">Опубликовать</button>
            </form>
        </div>

        <!-- (1, 1, 'Новый заголовок', 'текст поста', 'Тут дата')
         0  1        2                3             4 -->

        <div class="post_label" style="margin-top: 30px">
            <h1 style="color: #fff; font-size: 40px;">{{'Мои посты' if posts|length != 0 else 'Постов пока нет' }}</h1>
        </div>
        <div class="profile_posts">
        {% if posts %}
            {% for post in posts%}
            <div class="card">
                <div class="info">
                    <p style='font-size: 11px;' class="data">{{ post[4][:10] }}</p>
                    <div><p style="font-size: 30px; margin-left: 6px;">{{post[2]}}</p></div>
                </div>
                <p class="text">{{post[3]}}</p>
                <a href="{{ url_for('show_post', post_id=post[0]) }}" class="know"><p>Узнать больше</p></a>
                <a href="{{ url_for('del_post', post_id=post[0]) }}" ><button class="delete">Удалить пост</button></a>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}
