* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, blue, red);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
form {
    width: 400px;
    min-height: 150px;
    background-color: #ffffff27;
    backdrop-filter: blur(10px);
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    outline: none;
}
form h1 {
    color: #fff;
    margin-bottom: 15px;
}
form input {
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 15px;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 15px;
}
form button {
    width: 80%;
    height: 40px;
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 15px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}


.profile {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.profile_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.profile_img img{
    width: 150px;
    height: 150px;
    border: 2px solid #000000;
    border-radius: 50%;
    overflow: hidden;
}

.profile_title {
    color: #fff;
    margin-top: 35px;
    font-size: 50px;
    font-weight: 500;
}

.profile_form {
    width: 90%;
    min-height: 500px;
}

.profile_form form {
    width: 100%;
}

.profile_form form input:focus {
    outline: none;
    border: none;
}
.profile_form form textarea{
    min-height: 400px;
    width: 90%;
    resize: vertical;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 40px;
}
.profile_form form textarea:focus {
    outline: none;
    border: none;
}

.profile form button {
    width: 20%;
}

.profile_posts {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 45%;
    max-width: 80%;
    min-height: 350px;
    background-color: transparent;
    border-radius: 15px;
    margin-bottom: 30px;
    font-size: 17px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.199);
}

.card .info {
    width: 100%;
    height: 70px;
    border-bottom: 3px solid black;
    background-color: #ffffff6c;
    border-radius: 15px 15px 0 0;
    padding: 5px;
}

.know{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 110px;
    height: 23px;
    outline: none;
    border: none;
    background: white;
    border-radius: 10px;
    transition: .5s;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.know:hover {
    background-color: green;
}

.delete{
    position: absolute;
    bottom: 10px;
    right: 130px;
    cursor: pointer;
    width: 110px;
    height: 23px;
    outline: none;
    border: none;
    background: white;
    border-radius: 10px;
    transition: .5s;
}

.delete:hover {
    background-color: red;
}

.card .text {
    padding: 5px;
    width: 100%;
    word-break: break-all;
    color: #fff;
}
.spacer {
    width: 100%;
    height: 100px;
}