* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}

h5 {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}

body {
    background: linear-gradient(45deg, blue, red);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
form {
    width: 40vh;
    height: 30vh;
    background-color: #ffffff27;
    backdrop-filter: blur(10px);
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form h1 {
    color: #fff;
    margin-bottom: 15px;
    display: flex;
    font-family: sans-serif;
}
form input {
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    font-family: sans-serif;
    border-radius: 15px;
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
    padding-left: 4px;
}
form button {
    width: 70%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 15px;
    transition: .5s;
    margin-bottom: 10px;
}
form button:hover {
    background-color: #a1a1a1;
}

.text {
    font-size: 25px;
}